@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
body{
    margin:0px;
    width:100%;
    height:300px;
    display:flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image:url("../icon/memoM.png");
}
.Memo{
    overflow:scroll;
    overflow-x: hidden;
    height: 180px;
    display:flex;
    align-items: center;
    width:84%;
    display:flex;
    flex-direction: column;
 justify-items: center;
}

.todolist{
    font-family: "Google Sans",Roboto,Arial,sans-serif;

}
form{
    width:70%;
    display: flex;
    justify-content: center;
}
#ir{
    width:65%;
    height:25px;
}

[id*='cb_']{
    width:20px;
    height:20px;
}
.date{
   
    font-size:30px;
    font-weight: bold;
    font-family: 'Crafty Girls', cursive;
    position: relative;
    top:10px;
    margin-bottom:20px;
}
.todoform{
      position: absolute;
    bottom:8px;
}
dl{
    width: 80%;
}
#top{
   width:68%;
    background-color: #FCFBCB;
    display: flex;
    justify-content: space-between;
    position: relative;
    position:fixed;
    display:flex;
}
dd {
    margin-bottom: 13px;
    margin-inline-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 2px;
}
#top{
    margin-top:0;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: solid black 3px;
    
}
img{
    width:25px;
    margin-bottom: 3px;
}
.todolist{
    margin-top: 50px;
    margin-bottom:0;
}